<div>
    <h2 id="page-heading">
        <span jhiTranslate="getewayApp.userx.home.title">Userxes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-userx" [routerLink]="['/userx/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="getewayApp.userx.home.createLabel">
            Create a new Userx
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userxes?.length === 0">
        <span jhiTranslate="getewayApp.userx.home.notFound">No userxes found</span>
    </div>
    <div class="table-responsive" *ngIf="userxes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login"><span jhiTranslate="getewayApp.userx.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="password"><span jhiTranslate="getewayApp.userx.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="getewayApp.userx.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastName"><span jhiTranslate="getewayApp.userx.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="getewayApp.userx.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activated"><span jhiTranslate="getewayApp.userx.activated">Activated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="langKey"><span jhiTranslate="getewayApp.userx.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageUrl"><span jhiTranslate="getewayApp.userx.imageUrl">Image Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activationKey"><span jhiTranslate="getewayApp.userx.activationKey">Activation Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resetKey"><span jhiTranslate="getewayApp.userx.resetKey">Reset Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resetDate"><span jhiTranslate="getewayApp.userx.resetDate">Reset Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationId"><span jhiTranslate="getewayApp.userx.organization">Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userx of userxes ;trackBy: trackId">
                <td><a [routerLink]="['/userx', userx.id, 'view' ]">{{userx.id}}</a></td>
                <td>{{userx.login}}</td>
                <td>{{userx.password}}</td>
                <td>{{userx.firstName}}</td>
                <td>{{userx.lastName}}</td>
                <td>{{userx.email}}</td>
                <td>{{userx.activated}}</td>
                <td>{{userx.langKey}}</td>
                <td>{{userx.imageUrl}}</td>
                <td>{{userx.activationKey}}</td>
                <td>{{userx.resetKey}}</td>
                <td>{{userx.resetDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="userx.organizationId">
                        <a [routerLink]="['/organization', userx.organizationId , 'view' ]" >{{userx.organizationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/userx', userx.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/userx', userx.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/userx', { outlets: { popup: userx.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="userxes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
