<div>
    <h2 id="page-heading">
        <span jhiTranslate="getewayApp.userRoleOrganization.home.title">User Role Organizations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-role-organization" [routerLink]="['/user-role-organization/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="getewayApp.userRoleOrganization.home.createLabel">
            Create a new User Role Organization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userRoleOrganizations?.length === 0">
        <span jhiTranslate="getewayApp.userRoleOrganization.home.notFound">No userRoleOrganizations found</span>
    </div>
    <div class="table-responsive" *ngIf="userRoleOrganizations?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userName"><span jhiTranslate="getewayApp.userRoleOrganization.userName">User Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roleName"><span jhiTranslate="getewayApp.userRoleOrganization.roleName">Role Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgName"><span jhiTranslate="getewayApp.userRoleOrganization.orgName">Org Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="getewayApp.userRoleOrganization.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roleRoleName"><span jhiTranslate="getewayApp.userRoleOrganization.role">Role</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationOrgName"><span jhiTranslate="getewayApp.userRoleOrganization.organization">Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userRoleOrganization of userRoleOrganizations ;trackBy: trackId">
                <td><a [routerLink]="['/user-role-organization', userRoleOrganization.id, 'view' ]">{{userRoleOrganization.id}}</a></td>
                <td>{{userRoleOrganization.userName}}</td>
                <td>{{userRoleOrganization.roleName}}</td>
                <td>{{userRoleOrganization.orgName}}</td>
                <td>
                    <div *ngIf="userRoleOrganization.userId">
                        <a [routerLink]="['/userx', userRoleOrganization.userId , 'view' ]" >{{userRoleOrganization.userLogin}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userRoleOrganization.roleId">
                        <a [routerLink]="['/role', userRoleOrganization.roleId , 'view' ]" >{{userRoleOrganization.roleRoleName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userRoleOrganization.organizationId">
                        <a [routerLink]="['/organization', userRoleOrganization.organizationId , 'view' ]" >{{userRoleOrganization.organizationOrgName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-role-organization', userRoleOrganization.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-role-organization', userRoleOrganization.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-role-organization', { outlets: { popup: userRoleOrganization.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="userRoleOrganizations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
