<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-role-organization-heading" jhiTranslate="getewayApp.userRoleOrganization.home.createOrEditLabel">Create or edit a User Role Organization</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.userRoleOrganization.userName" for="field_userName" [ngbTooltip]="'getewayApp.userRoleOrganization.help.userName' | translate">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                           formControlName="userName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.userRoleOrganization.roleName" for="field_roleName" [ngbTooltip]="'getewayApp.userRoleOrganization.help.roleName' | translate">Role Name</label>
                    <input type="text" class="form-control" name="roleName" id="field_roleName"
                           formControlName="roleName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.userRoleOrganization.orgName" for="field_orgName" [ngbTooltip]="'getewayApp.userRoleOrganization.help.orgName' | translate">Org Name</label>
                    <input type="text" class="form-control" name="orgName" id="field_orgName"
                           formControlName="orgName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.userRoleOrganization.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userxOption.id" *ngFor="let userxOption of users; trackBy: trackUserxById">{{userxOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId').invalid && (editForm.get('userId').dirty || editForm.get('userId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.userRoleOrganization.role" for="field_role">Role</label>
                    <select class="form-control" id="field_role" name="role" formControlName="roleId">
                        <option *ngIf="!editForm.get('roleId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="roleOption.id" *ngFor="let roleOption of roles; trackBy: trackRoleById">{{roleOption.roleName}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('roleId').invalid && (editForm.get('roleId').dirty || editForm.get('roleId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('roleId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.userRoleOrganization.organization" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" formControlName="organizationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.orgName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
