<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-role-heading" jhiTranslate="getewayApp.role.home.createOrEditLabel">Create or edit a Role</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.role.roleName" for="field_roleName" [ngbTooltip]="'getewayApp.role.help.roleName' | translate">Role Name</label>
                    <input type="text" class="form-control" name="roleName" id="field_roleName"
                           formControlName="roleName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.role.roleDescription" for="field_roleDescription" [ngbTooltip]="'getewayApp.role.help.roleDescription' | translate">Role Description</label>
                    <input type="text" class="form-control" name="roleDescription" id="field_roleDescription"
                           formControlName="roleDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.role.roleFlag" for="field_roleFlag" [ngbTooltip]="'getewayApp.role.help.roleFlag' | translate">Role Flag</label>
                    <input type="text" class="form-control" name="roleFlag" id="field_roleFlag"
                           formControlName="roleFlag"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.role.roleEffDate" for="field_roleEffDate" [ngbTooltip]="'getewayApp.role.help.roleEffDate' | translate">Role Eff Date</label>
                    <div class="d-flex">
                        <input id="field_roleEffDate" type="datetime-local" class="form-control" name="roleEffDate" formControlName="roleEffDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="getewayApp.role.roleExpDate" for="field_roleExpDate" [ngbTooltip]="'getewayApp.role.help.roleExpDate' | translate">Role Exp Date</label>
                    <div class="d-flex">
                        <input id="field_roleExpDate" type="datetime-local" class="form-control" name="roleExpDate" formControlName="roleExpDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="getewayApp.role.resources" for="field_resources">Resources</label>
                    <select class="form-control" id="field_resources" multiple name="resources" formControlName="resources">
                        <option [ngValue]="getSelected(editForm.get('resources').value, resourceOption)" *ngFor="let resourceOption of resources; trackBy: trackResourceById">{{resourceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
