<div>
    <h2 id="page-heading">
        <span jhiTranslate="getewayApp.organization.home.title">Organizations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organization" [routerLink]="['/organization/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="getewayApp.organization.home.createLabel">
            Create a new Organization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="organizations?.length === 0">
        <span jhiTranslate="getewayApp.organization.home.notFound">No organizations found</span>
    </div>
    <div class="table-responsive" *ngIf="organizations?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgName"><span jhiTranslate="getewayApp.organization.orgName">Org Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgCode"><span jhiTranslate="getewayApp.organization.orgCode">Org Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgFlag"><span jhiTranslate="getewayApp.organization.orgFlag">Org Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgAreaCode"><span jhiTranslate="getewayApp.organization.orgAreaCode">Org Area Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgAreaName"><span jhiTranslate="getewayApp.organization.orgAreaName">Org Area Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgDescription"><span jhiTranslate="getewayApp.organization.orgDescription">Org Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgLft"><span jhiTranslate="getewayApp.organization.orgLft">Org Lft</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgRgt"><span jhiTranslate="getewayApp.organization.orgRgt">Org Rgt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgLevel"><span jhiTranslate="getewayApp.organization.orgLevel">Org Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgOrder"><span jhiTranslate="getewayApp.organization.orgOrder">Org Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="leaf"><span jhiTranslate="getewayApp.organization.leaf">Leaf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="upperId"><span jhiTranslate="getewayApp.organization.upper">Upper</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations ;trackBy: trackId">
                <td><a [routerLink]="['/organization', organization.id, 'view' ]">{{organization.id}}</a></td>
                <td>{{organization.orgName}}</td>
                <td>{{organization.orgCode}}</td>
                <td>{{organization.orgFlag}}</td>
                <td>{{organization.orgAreaCode}}</td>
                <td>{{organization.orgAreaName}}</td>
                <td>{{organization.orgDescription}}</td>
                <td>{{organization.orgLft}}</td>
                <td>{{organization.orgRgt}}</td>
                <td>{{organization.orgLevel}}</td>
                <td>{{organization.orgOrder}}</td>
                <td>{{organization.leaf}}</td>
                <td>
                    <div *ngIf="organization.upperId">
                        <a [routerLink]="['/organization', organization.upperId , 'view' ]" >{{organization.upperId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/organization', organization.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organization', organization.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organization', { outlets: { popup: organization.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="organizations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
